.form {
margin-top: 100px;
background-color: #000000;
padding: 40px;
border-radius: 20px;
width:700px;

height: 350px;
color: ivory;
display: inline-block;
margin-left: auto;
margin-right: auto;

      
}



input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
}

  input[type=number], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=submit] {
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 16px;
  }

  input[type=submit]:hover {
    background-color: #3ac541;
  }