.home {
    background-color: #000000 ;
    padding: 40px;
    margin-top: 100px;
    border-radius: 20px;
    width:500px;
    height: 300px;
    color: ivory;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


h1 {
    margin-top: 50px;
}
h3 {
    text-align: center;
}